body{

}

a{
	text-decoration: none;
	color: #dedede;
}

a:hover{
	transition: 0.2s;
	color: white;
	text-decoration: none;
}

ul{
	list-style: none;
}

li a{
	vertical-align: middle;
}

.section-1{
	background-color: #10075c;
	height: 20%;
}

.navbar li a{
	padding-left: 7rem;
}

.navbar a{
	font-size: 1rem;
}

#nav-logo{
	width: 30%;
}




